body{
    background-color: #0b0a0b;
    overflow: hidden;
}

.navbar{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content:space-between;
}

.logo{
    display: flex;
    background-color: #1a1b1a;
    padding: 10px;
    border-radius: 28px;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 120px;
    color: #fafafa;
}

.logo img{
    height: 25px;
    width: auto;
    margin-right: 15px;
}

.options{
    display: flex;
    padding: 0px;
    border-radius: 28px;
    align-items: center;
    background-color: #1a1b1a;
    height: 50px;
}

.options button{
    display: flex;
    height: 100%;
    width: 120px;
    border: none;
    background-color: #1a1b1a;
    padding: 10px;
    border-radius: 28px;
    color: #fefffe;
    font-size: 14px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    transition: ease-in 0.3s;
}

.options button:hover{
    background-color: #a6a6a6;
    color: #1a1b1a;
    transition: ease-in 0.3s;
}

.options .clicked{
    background-color: #fefffe !important;
    color: #1a1b1a !important;
}   

.profile{
    display: flex;
    flex-direction: row;
}

.profile img{
    height: 50px;
    width: auto;
}

.add{
    background-color: #1a1b1a;
    height: 50px;
    width: 50px;
    border-radius: 28px;
}

.add label{
    display: flex;
    font-size: 38px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding-top: 2.5px;
    color: #bababa;
}

.container1{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 40vb;
}

.container2{
    display: flex;
    flex-direction: column;
    width: 54%;
    height: 40vb;
    justify-content: center;
    align-items: center;
}

.box1, .box2{
    display: flex;
    width: 95%;
    height: 65%;
    margin-top: 5px;
    background-color: #1a1b1a;
    border-radius: 16px;
}

.box2{
    position: relative;
    top: 5px;
}

.box3{
    display: flex;
    width: 54%;
    height: 40vb;
    margin: 5px;
    background-color: #1a1b1a;
    border-radius: 16px;
    flex-direction: row;
}

.box4,.box5{
    display: flex;
    position: relative;
    width: 49%;
    height: 55vb;
    margin-top: 5px;
    background-color: #1a1b1a;
    border-radius: 16px;
}

.box4{
    top: -40vb;
    left: 770px;
}

.box5{
    top: -54vb;
    left: 10px;
    height: 47vb;
}

.container3{
    display: flex;
    position: relative;
    flex-direction: row;
    width: 50%;
    height: 32vb;
    top: -86vb;
    left: 770px;
    align-items: center;
    justify-content: center;
}

.box6, .box7{
    display: flex;
    width: 48%;
    height: 100%;
    background-color: #1a1b1a;
    border-radius: 16px;
    margin-right: 5px;
}

.box6{
    position: relative;
    left: -10px;
}
