.left, .right{
    width: 50%;
    height: 100vb;
}
.left{
    float: left;
}
.right{
    float: right;
}

.content {
    height: 80vb;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

fieldset{
    border: none;
}

.form{
    display: flex;
    flex-direction: column;
}